@import 'variables';

.button {
  border: none;
  padding: 12px;
  text-decoration: none;
  background-color: $color-white;
  font-size: 16px;
  color: $color-black;
  display: inline-block;
  cursor: pointer;

  box-shadow: $box-shadow-default;
  transition: box-shadow 300ms;

  &:hover {
    box-shadow: $box-shadow-hover;
  }

  &--red {
    background-color: $color-danger;
    color: $color-white;
  }

  &--blue {
    background-color: $color-primary;
    color: $color-white;
  }

  &--default-margin {
    margin-right: 12px;
  }
}
